chromadb==0.5.5
nltk==3.8.1
sentence-transformers==3.0.1
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
transformers==4.42.4
pytest==8.3.2
pytest-mock==3.14.0
pytest-asyncio==0.24.0
aiofiles==24.1.0
deepgram-sdk==3.5.0
python-dotenv==1.0.1
ragas==0.1.14
requests-oauthlib==2.0.0
yt-dlp==2024.8.6
langchain-community==0.2.12
langchain-groq==0.1.9
yt-dlp-youtube-oauth2 @ https://github.com/coletdjnz/yt-dlp-youtube-oauth2/archive/refs/heads/master.zip
